.event {
  position: relative;
  padding-top: 40px;
}

.event h3 {
  font-size: 25px;
}

.event p {
  margin: 10px 0;
}

.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 0;
  top: 0;
  /* border: 1px solid red; */
}

.delete {
  margin-left: 20px;
  color: red;
  display: "block";
  cursor: "pointer";
}

.back {
  display: block;
  margin-top: 40px;
  cursor: pointer;
}
